doctype html
html
	head
		meta(charset="utf-8")
		title foodme-backend
	body
		h1 foodme backend documentation

		h2=('/get-fridge/:clientId')
		p Find the user's fridge and return the fridgeId
		p If no user's fridge: create it and return the fridgeId as JSON

		h2=('/display-fridge/:fridgeId')
		p Display all the content of the user's fridge as JSON
		p as an array of objects

		h2=('/insert-into-fridge')
		p Takes an object with:
		p object.fridgeId: the user's fridgeId
		p object.ingredientId: the ingredientId inputed
		p object.name: the ingredient inputed name
		p it returns confirmation

		h2=('/delete-ingredient')
		p Takes an object with:
		p object.fridgeId: the user's fridgeId
		p object.ingredientId: the ingredientId inputed
		p it returns confirmation 

		h2=('/display-recipe/:clientId')
		p Display all the the recipes the user saved as JSON
		p as an array of objects

		h2=('/insert-save-recipe')
		p Insert into the 
		p Takes an object with: 
		p object.clientId: the user's clientId from Auth0
		p object.recipeId: the recipe saved bu the user
		p 